# ======================
# Ambiente virtual
# ======================
venv/
.env

# ======================
# Python cache
# ======================
__pycache__/
*.py[cod]

# ======================
# Database local (se existir)
# ======================
app/database/*.py
app/database/__pycache__/

# ======================
# Logs
# ======================
*.log

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Sistema
# ======================
.DS_Store
Thumbs.db
